body {
    margin: 0;
    padding: 0;
    background: white;
}

#game-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-family: Helvetica, sans-serif;
}

.game-ui {
    color:black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#intro-info {
    position: absolute;
    top: 25%;
    left: 7%;
    width: 51%;
    height: 50%;
}

#intro-info > h1 {
    font-size: 1.5em;
}

#intro-info > label {
    font-weight: bold;
    display: inline-block;
    width: 5em;
}

#intro-info > input[type=number] {
    border: 3px solid black;
    border-radius: 0;
    font-size: 1em;
    height: 2em;
    margin-bottom: 1em;
    appearance: none;
}

#intro-info > input[type=radio] {
    border: 3px solid black;
    height: 2em;
    width: 2em;
    color: pink;
}

#intro-btn-start {
    position: absolute;
    width: 25%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#intro-vol-adjust {
    position: absolute;
    top: 25%;
    right: 7%;
    width: 30%;
    height: 50%;
    border: 3px solid black;
    border-radius: 5%;
    padding: 1em;
}

#intro-vol-adjust > img {
    display: block;
    width: 50%;
    margin: 0 auto;
}

#intro-vol-adjust > input {
    display:none;
}

#intro-vol-adjust > input + label {
    display: block;
    width: 48px;
    height: 48px;
    margin: auto;
    background: url(images/sound-off.png);
}

#intro-vol-adjust > input:checked + label {
    background: url(images/sound-on.png);
}

